<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="formcss.css">
  <title>Form Submission</title>
  <style>
    body {
      width: 56%;
      margin: 33px auto;
      font-family: "Open Sans"
      font-style: bold;
    }
    .date {
      font-style: italic;
    }
    </style>
</head>
<body>
    <h1>Evan's TODO list</h1>
    <h2>As narrated by Mr. Sand (Ghost Version) </h2>
    <div class='text_box'>
    <ul>
      <% @tasks.each do |task| %>
        <li>
          <% unless nodate task.user_id %> <em> <%= task.user_id %> ::: </em><% end %>
          <%= task.description %>
          <% unless nodate task.due %> <em> -~-~-~-~ <%= task.due %></em><% end %>
        </li>
      <% end %>
    </ul>
   </div>
    <h2>Welcome to my website</h2>
    <img src="fennec.jpg" title="Hello and welcome, I'm Mr. Sand" width="542" height="352">
    <h1>Enter a new task!</h1>
    <div class='text_box'>
    <p> </p>
    <form action="/" method="POST">
    <strong>New Task:</strong>
    <input type='text' name='task' placeholder='task content' />
    <strong>Due Date:</strong>
    <input type='text' name='date' placeholder='due date' />
    <strong>User Name:</strong>
    <input type='text' name="user_data" placeholder='your name' />
    <div class="button">
        <button type="submit">Save Your Task</button>
    </div> 
</form>
	</div>
	<h1>Delete an old task!</h1>
    <div class='text_box'>
    <p> </p>
    <form action="/" method="POST">
    <strong>User Name:</strong>
    <input type='text' name="delete_user_data" placeholder="Which user's tasks do you wish to delete?" />
    <input type='hidden' name="constant" value=0 />
    <div class="button">
        <button type="submit">Delete Their Tasks!</button>
    </div>
    </form>
    </div>
</body>



